body {
  margin: 0;
  font-family: Arial;
  background: #f2f2f2;
}

header {
  background: red;
  color: white;
  text-align: center;
  padding: 15px;
}

.container {
  width: 90%;
  margin: auto;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

button {
  background: red;
  color: white;
  border: none;
}

#map {
  height: 300px;
}

#chatArea {
  height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}

.userMsg {
  text-align: right;
  background: red;
  color: white;
  margin: 5px;
  padding: 5px;
}

.botMsg {
  background: #eee;
  margin: 5px;
  padding: 5px;
}

.quickBtns {
  display: flex;
  flex-wrap: wrap;
}

.quickBtns button {
  width: 20%;
}